<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{contract.name}}">
  <ion-content class="padding">
    <ul class="list">
      <li class="item"><strong>Name:</strong> {{contract.name}}</li>
      <li class="item"><strong>Budget:</strong> {{contract.budget + ' ' + contract.currencyOfBudget}}</li>
      <li class="item"><strong>Created:</strong> {{contract.createdDate | date: 'MM/dd/yyyy' }}</li>
      <li class="item download"><button class="button icon-left ion-arrow-down-a button-positive" ng-click="testFileDownload()">Download document</button></li>
    </ul>
    <div class="card">
      <div class="item item-text-wrap">
        {{contract.description}}
      </div>
    </div>
  </ion-content>
</ion-view>
