.platform-ios .download,
.platform-browser .download {
  display: none;
}

.contract-form .help-block {
  color: #ff0000
}

.download .status{
  line-height: 45px;
}

.download .success.status{
  color: #008800;
}

.download .error.status{
  color: #ff0000;
}

.download .spinner > * {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
